@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;500&family=Playfair+Display:wght@700&display=swap&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OG_Renaissance_Secret-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-unit: 16px;
  --navy: #1a1a3a;
  --blue: #4d8eff;
  --gray: #444961;
  --yellow: #f7d241;
  --re-black:#222831;
  --re-gray: #393e46;
  --re-green:#00adb5;
  --re-white:#eeeeee;

}

body {
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
  background: var(--re-black);
  color: var(--re-white);
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--re-black);
}
.h2 {
  color: var(--re-green);
  text-align: center;
  font-family: "GmarketSansMedium";
  font-size: 160px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 114.286% */
  text-transform:uppercase;
}
.h3 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  font-weight: bold;
}

/* 곡선 배경 그레디언트 */
.custom-shape-divider-bottom-1707998662 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -100;
  opacity: 0.7;
}

.custom-shape-divider-bottom-1707998662 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 214px;
}

.custom-shape-divider-bottom-1707998662 .shape-fill {
  fill: #87E391;
}

.custom-shape-divider-bottom-1708002605 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -100;
  opacity: 0.7;
}

.custom-shape-divider-bottom-1708002605 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 331px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708002605 .shape-fill {
  fill: #87E391;
}

.custom-shape-divider-bottom-1708002777 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -100;
  opacity: 0.7;
}

.custom-shape-divider-bottom-1708002777 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 354px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708002777 .shape-fill {
  fill: #53D3A3;
}
/* 그레디언트 끝 */

/* header */
header {
  position: fixed;
  width: 250px;
  right: 0;
  height: 100%;
  background: none;
  z-index: 10;
}
header nav {
  height: 100%;
}
header nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* 메뉴 글자 높이간 차이 */
  gap: 30px;
}
header nav ul li {
  font-size: 28px;
  line-height: 28px;
  font-family: "GmarketSansMedium";
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: normal;
}
header nav ul li a {
  color: var(--re-gray);
  transition: 0.2s;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
header nav ul li a:hover{
  color: var(--re-white)
}
header nav ul li a span{
  color: var(--gray);
  height: 34px;
  line-height: 34px;
  transition: 0.2s;
}
header nav ul li a .material-symbols-outlined{
  font-size: 34px;
}
header nav ul li a:hover .material-symbols-outlined{
  color: var(--re-white);
}

#about_svg,
#about_svg span
{
  color: #eeeeee;
}

#about_svg,#skill_svg,#projects_svg,#contact_svg {
  /* 호버 글자 높이간 차이 */
  padding-right: 40px;
}

/* mouse 커서 */
#circle{
  width: 50px;
  height: 50px;
  position: fixed;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(249,248,113,1) 0%, rgba(83,211,163,1) 50%, rgba(0,173,181,1) 100%);
  /* background: linear-gradient(90deg,  rgba(0,173,181,1) 0%, rgba(32,193,176,1) 25%, rgba(83,211,163,1) 50%,  rgba(135,227,145,1) 75%,rgba(249,248,113,1) 100%); */
  /* background: radial-gradient(circle,  rgba(0,173,181,1) 0%, rgba(32,193,176,1) 25%, rgba(83,211,163,1) 50%,  rgba(135,227,145,1) 75%,rgba(249,248,113,1) 100%); */
  /* background-color:var(--re-green); */
  z-index: 10;
  opacity: 0.5;
  transition: 0.2s;
}
#circle.active{
  width: 25px;
  height: 25px;
  /* background-color: none; */
  border: 2px solid var(--re-green);
}

/* text 데코레이션 */ 

.cover{
  width: 100%;
  /* margin-bottom: 10rem; */
  display: flex;
}
.cover:nth-child(1){
  margin-top: 5vh;
  transform: rotate(-2deg);
  /* background-color: #ff3796; */
  background-color: hotpink;
}
.cover:nth-child(2){
  margin-top: 5vh;
  transform: rotate(2deg);
  background-color: #5800ff;
  justify-content: flex-end;
}
.cover p{
  display: flex;
  padding: 2.5rem 0;
  font-size: 4rem;
  font-family: "OG_Renaissance_Secret-Rg";
}

/* About 파트 시작 */
.About {
  padding-top: calc(var(--base-unit) * 9);
  height: calc(var(--base-unit) * 27);
}
.About .container {
  height: 100%;
  width: 1440px;
}
/* 이름 강조 - leekangsan */
#leekangsan{
  font-family: "GmarketSansMedium";
  position: relative;
  padding-bottom: calc(var(--base-unit) * 4);
  font-weight: 700;
  color: var(--re-white);
  left: 0;
  text-transform: uppercase;
  color: var(--re-white);
}
#leekangsan::after{
  content: "";
  position: absolute;
  bottom: calc(var(--base-unit) * 4);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  background-color: var(--re-green);
  z-index: -10;
}
/* topic_about 첫 제목 */
#topic_about{
  position: absolute;
  left: 0;
  top: 130px;
  bottom: 0;
  right: 0;
  font-size: 13rem;
  width: auto;
  height: 400px;
  z-index: 100;
  color: var(--re-gray);
}
/* #topic_about2 겹치는 글자 */
#topic_about2{
  position: absolute;
  left: 0;
  top: 135px;
  bottom: 0;
  right: -10px;
  font-size: 13rem;
  width: auto;
  height: 400px;
  z-index: 80;
  color: var(--re-green);
}
/* fake_topic_about 빈공간 */
#fake_topic_about{
  visibility: hidden;
  line-height: 0.5em;
}
.About .container .About_info_1 {
  background-image: url(../img/info_1.jpg);
  width: 340px;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: -99999999em;
}
.About .container .About_info_2 {
  height: 432px;
  display: flex;
  flex-direction: column;
}
.About .container .h4_info {
  text-align: right;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  padding: 36px 0;
}
.About .container .p_info {
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
/* 나만의 장점 밑줄 */
#mykangsan{
  position: relative;
  padding-bottom: calc(var(--base-unit) * 4);
  font-weight: 700;
  color: var(--re-white);
  left: 0;
  text-transform: uppercase;
}
#mykangsan:after{
  content: "";
  position: absolute;
  bottom: calc(var(--base-unit) * 4);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  background-color: var(--re-green);
  z-index: -10;
}
.myadvantage {
  padding: calc(var(--base-unit) * 8) 0;
}
.Adventage_myadvantage h3 {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  padding-bottom: calc(var(--base-unit) * 4);
}
.myImg .myImg1,
.myImg .myImg2,
.myImg .myImg3 {
  text-align: center;
}
.container .myImg_info2 {
  background-image: url(../img/info_2.jpg);
}
.container .myImg_info3 {
  background-image: url(../img/info_3.jpg);
}
.container .myImg_info4 {
  background-image: url(../img/info_4.jpg);
}
.container .myImg_info2,
.container .myImg_info3,
.container .myImg_info4 {
  width: 340px;
  height: 240px;
  /* border-radius: 35px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: -9999em;
  margin: 0 auto;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}
.container .myImg h5 {
  padding: calc(var(--base-unit) * 2) 0 var(--base-unit) 0;
}
.container .myImg p {
  width: 340px;
  text-align: center;
  margin: 0 auto;
  line-height: 19px;
  font-weight: 500;
}
.Mainhistory {
  padding-bottom: calc(var(--base-unit) * 8.5);
}
.container .history {
  text-align: center;
  display: flex;
  align-items: center;
}
.container .history_title {
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  width: 50%;
  padding-right: 90px;
  box-sizing: border-box;
}
.container .history_content {
  text-align: left;
  width: 50%;
  padding-left: 40px;
  box-sizing: border-box;
  font-weight: 500;
}
.container .history_content th {
  padding: calc(var(--base-unit) * 1) 0;
}
.container .history_content td {
  padding-left: 20px;
}

/* waypoint 플러그인 */

/* animate-right 기존 요소 */
.About_info_1,
.myImg3 {
  transform: translateX(100%);
  opacity: 0;
}
/* animate-left 기존 요소 */
.About_info_2,
.myImg1 {
  transform: translateX(-100%);
  opacity: 0;
}
/* animate-up 기존 요소 */
.myImg2,
.myImg_h3,
.table,
.history_title {
  transform: translateY(-100%);
  opacity: 0;
}
/* animate 효과 후 */
.About_info_1.animate-right,
.myImg3.animate-right {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.About_info_2.animate-left,
.myImg1.animate-left {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.myImg2.animate-up,
.myImg_h3.animate-up,
.table.animate-up,
.history_title.animate-up {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

/* skills 파트 시작 */
.Skills {
  padding-top: calc(var(--base-unit) * 4) 0;
}
.Skills .h2 {
  padding: calc(var(--base-unit) * 8) 0;
}
.skills_h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 22px;
}
.skill_img img {
  display: block;
  margin: 0 auto;
  padding-bottom: 18px;
  width: 80px;
  height: 80px;
}
.skill_img p {
  padding-top: 18px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 80px;
}
/* Projects 파트 시작 */
.Projects {
  padding: calc(var(--base-unit) * 10) 0;
}
.Projects .h2 {
  padding-bottom: calc(var(--base-unit) * 10);
}
.Projects .swiper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.Projects .swiper-slide {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.Projects .swiper-slide img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: 0.3s;
}
.Projects .swiper-slide img:hover {
  cursor: pointer;
}
.Projects .project_name {
  position: relative;
  padding-bottom: calc(var(--base-unit) * 4);
  font-size: 60px;
  font-weight: 600;
  color: var(--re-white);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.Projects .project_name:after {
  content: "";
  position: absolute;
  bottom: calc(var(--base-unit) * 4);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15px;
  background-color: var(--yellow);
  z-index: -10;
}
.Projects .project_info {
  opacity: 0; /*원래 0*/
  background-color: rgba(0, 0, 0, 0.95);
  color: var(--re-white);
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}
.project_info h4,
.project_info p {
  padding: 13px;
  text-align: center;
}
.project_info h4 {
  font-size: 58px;
  font-weight: bold;
  padding: 100px 0 40px 0;
}
.project_info p {
  font-size: 18px;
}
.link {
  width: 500px;
  height: 150px; /* 위치변동 가능 */
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.link a {
  width: 220px;
  color: var(--re-white);
  border: 5px solid var(--re-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  transition: 0.3s;
  z-index: 3;
  border-radius: 65px;
  padding-left: 10px;
}
.link a span {
  font-size: 32px;
  padding-left: 5px;
}
.link a:hover {
  border-color: var(--re-green);
  color: var(--re-green);
  background: var(--re-white);
  font-weight: bold;
}
/* 이미지에 호버할 때 project_info 표시 */
.Projects .swiper-slide:hover .project_info {
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--re-green);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--re-green);
}
/* project 소개 페이지 */
.black {
  background: var(--re-black);
  color: var(--re-white);
}
.navy{
  background: var(--navy);
}
.project_thumbnail {
  padding-top: 160px;
}
.project_thumbnail img {
  /* box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); */
  border: 10px solid var(--re-white);
  /* border-radius: 35px; */
}
.project_thumbnail .project_info p {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}
.project_thumbnail .link {
  padding-top: 0;
  height: 150px;
}
.project_thumbnail .link a {
  width: 100px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding-left: 0;
  margin-left: 20px;
}
.project_thumbnail .link a:hover {
  border: 5px solid var(--re-green);
  font-size: 22px;
}
.project_thumbnail .project_info p a {
  font-size: 24px;
  color: var(--re-green);
  transition: 0.1s;
}
.project_thumbnail .project_info p a:hover {
  color: var(--yellow);
}
/* Contact 파트 */
.Contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top:60px
}
.Contact h2 {
  padding: 32px 0 56px 0;
}
.Contact p {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.final_info {
  padding: 0 40px 28px 28px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.final_info p {
  text-align: left;
}
.final_info img {
  width: 48px;
  height: 48px;
  padding-bottom: 10px;
}
.git_img_container {
  position: relative;
  display: inline-block;
}
.original-img,
.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
}
.hover-img {
  opacity: 0;
}
.git_img_container:hover .original-img {
  opacity: 0;
}
.git_img_container:hover .hover-img {
  opacity: 1;
}
.git_img_container + p {
  margin-top: 60px;
}
.sendmail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.sendmail a {
  width: 150px;
  height: 60px;
  line-height: 60px;
  background: var(--re-green);
  color: var(--re-white);
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  transition: 0.3s;
}
.sendmail a:hover {
  background: var(--re-white);
  color: var(--re-green);
  font-weight: 600;
}

/* 반응형 992px */
@media (max-width: 992px) {
  #circle{
    display: none;
  }
  #topic_about, #topic_about2{
    font-size: 5rem;
  }
  .h2 {
    font-size: 60px;
    line-height: 64px;
  }
  h3 {
    font-size: 44px;
  }
  h4 {
    font-size: 26px;
    line-height: 32px;
  }
  header nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
  header nav ul li {
    flex: 1;
    font-size: 16px;
  }
  .About .container {
    width: 100%;
  }
  .About .container .About_info_1 {
    height: 340px;
  }
  #about .container {
    gap: 20px;
  }
  .p_info p {
    font-size: 14px;
  }
  .myadvantage {
    padding: calc(var(--base-unit) * 4) 0;
  }
  .Advantage h3 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .Advantage p {
    padding-bottom: 20px;
  }
  .myImg_h3{
    font-size: 21px;
  }
  .container .history_title {
    padding-right: 40px;
  }
  .container .history_content {
    padding-left: 20px;
    line-height: 20px;
  }
  .Mainhistory {
    padding-bottom: 0;
  }
  .Skills .h2 {
    padding: calc(var(--base-unit) * 5) 0;
  }
  .project_info h4 {
    padding: 20px 0 8px 0;
    font-size: 20px;
  }
  .project_info p {
    font-size: 12px;
    line-height: 18px;
    padding: 2px;
  }
  .Projects {
    padding: 0 0 20px 0;
  }
  .Projects .h2 {
    padding-bottom: calc(var(--base-unit) * 3);
  }
  .Projects .project_name {
    font-size: 30px;
  }
  .link {
    width: 160px;
    height: 60px;
    padding-top: 10px;
  }
  .link a {
    width: 100%;
    font-size: 14px;
    border-radius: 35px;
    border: 3px solid var(--re-white);
  }
  .final_info {
    padding: 60px 40px 28px 28px;
  }
}

@media (max-width: 480px) {
  .history_title{
    padding-bottom: calc(var(--base-unit)*2);
  }
  .history_title h3{
    font-size: 38px;
    line-height: 60px;
  }
  /* 곡선 레이어 */
  .custom_section * {
    display: none;
  }
  header {
    width: 100%;
    display: none;
  }
  header nav ul {
    width: 100%;
    justify-content: center;
  }
  header nav ul li {
    width: 60px;
    flex: 1;
    font-size: 12px;
  }
  header nav ul li a {
    gap: 5px;
  }
  #topic_about, #topic_about2{
    font-size: 3rem;
    top: 30px;
  }
  .About {
    /* padding-top: calc(var(--base-unit) * 9); */
    padding-top: calc(var(--base-unit) * 2);
    /* height: calc(var(--base-unit) * 27); */
    height: auto;
  }
  .About .container {
    width: 300px;
    height: 792px;
    flex-direction: column;
  }
  .About .container .About_info_1 {
    width: 100%;
  }
  .myImg_h3{
    display: none;
  }
  .myImg p{
    padding-bottom: calc(var(--base-unit) * 2);
  }
  .About .container .h4_info{
    font-size: 24px;
  }
  /* animate-right 기존 요소 */
  .About_info_1,
  .myImg3 {
    transform: translateX(0);
    opacity: 0;
  }
  /* animate-left 기존 요소 */
  .About_info_2,
  .myImg1 {
    transform: translateX(0);
    opacity: 0;
  }
  /* animate-up 기존 요소 */
  .myImg2,
  .myImg_h3,
  .table,
  .history_title {
    transform: translateY(0);
    opacity: 0;
  }
  .history{
    flex-direction: column;
  }
  .container .history_title{
    width: 100%;
    text-align: center;
  }
  .container .history_content{
    width: 100%;
  }
  .skill_img img {
    width: 50px;
    height: 50px;
  }
  /* text 애니메이션 */
  .cover{
    display: none;
  }

}
