@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;500&family=Playfair+Display:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400, 500;
  font-style: normal;
}

:root {
  --base-unit: 16px;
  --navy: #1a1a3a;
  --blue: #4d8eff;
  --gray: #444961;
  --yellow: #f7d241;
}

body {
  font-family: "Pretendard", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.h2 {
  color: var(--navy);
  text-align: center;
  font-family: Playfair Display;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 114.286% */
  text-transform: capitalize;
}
h5 {
  font-weight: bold;
}
.container {
  width: 1440px;
}
/* header */
header {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  background: var(--blue);
  z-index: 10;
}
header nav {
  height: 80px;
}
header nav ul {
  height: 100%;
}
header nav ul li {
  font-size: 28px;
  line-height: 33px;
}
header nav ul li a {
  color: #fff;
  /* color: var(--navy); */
  font-weight: 400;
  transition: 0.2s;
}
header nav ul li a:hover {
  color: #000;
  /* color: var(--navy); */
  font-weight: bold;
}
header nav ul li a:active {
  /* text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; */
  text-shadow: -1px 0 #99beff, 0 1px #99beff, 1px 0 #99beff, 0 -1px #99beff;
}
/* about me section 시작 */
.About {
  padding-top: calc(var(--base-unit) * 9);
  /* height: 432px; */
  height: calc(var(--base-unit) * 27);
}
.About .container {
  height: 100%;
  width: 1440px;
}
.About .container .About_info_1 {
  background: url(/img/info_1.jpg);
  width: 340px;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 35px;
  text-indent: -99999999em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.About .container .About_info_2 {
  height: 432px;
  display: flex;
  flex-direction: column;
}
.About .container .h4_info {
  text-align: right;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  padding: 36px 0;
}
.About .container .p_info {
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.myadvantage {
  padding: calc(var(--base-unit) * 8) 0;
}
.Adventage_myadvantage h3 {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  padding-bottom: calc(var(--base-unit) * 4);
}
.myImg .myImg1,
.myImg .myImg2,
.myImg .myImg3 {
  text-align: center;
}
.container .myImg_info2 {
  background: url(/img/info_2.jpg);
}
.container .myImg_info3 {
  background: url(/img/info_3.jpg);
}
.container .myImg_info4 {
  background: url(/img/info_4.jpg);
}
.container .myImg_info2,
.container .myImg_info3,
.container .myImg_info4 {
  width: 340px;
  height: 240px;
  border-radius: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: -9999em;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.container .myImg h5 {
  padding: calc(var(--base-unit) * 2) 0 var(--base-unit) 0;
}
.container .myImg p {
  width: 340px;
  text-align: center;
  margin: 0 auto;
  line-height: 19px;
  font-weight: 500;
}
.Mainhistory {
  padding-bottom: calc(var(--base-unit) * 8.5);
}
.container .history {
  text-align: center;
  display: flex;
  align-items: center;
}
.container .history_title {
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  width: 50%;
  padding-right: 90px;
  box-sizing: border-box;
}
.container .history_content {
  text-align: left;
  width: 50%;
  padding-left: 40px;
  box-sizing: border-box;
  font-weight: 500;
}
.container .history_content th {
  padding: calc(var(--base-unit) * 1) 0;
}
.container .history_content td {
  padding-left: 20px;
}
/* skills section 시작 */
.Skills {
  padding-top: calc(var(--base-unit) * 4) 0;
}
.Skills .h2 {
  padding: calc(var(--base-unit) * 8) 0;
}
.skills_h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 22px;
}
.skill_img img {
  display: block;
  margin: 0 auto;
  padding-bottom: 18px;
  width: 80px;
  height: 80px;
}
.skill_img p {
  padding-top: 18px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 80px;
}
/* Projects section 시작 */
.Projects {
  padding: calc(var(--base-unit) * 10) 0;
}
.Projects .h2 {
  padding-bottom: calc(var(--base-unit) * 10);
}
.Projects .swiper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.Projects .swiper-slide {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.Projects .swiper-slide img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: 0.3s;
}
.Projects .swiper-slide img:hover {
  cursor: pointer;
  /* transform: translateY(-5%); */
}
.Projects .project_name {
  position: relative;
  padding-bottom: calc(var(--base-unit) * 4);
  font-size: 60px;
  font-weight: 600;
  color: var(--gray);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
.Projects .project_name:after {
  content: "";
  position: absolute;
  bottom: calc(var(--base-unit) * 4);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15px;
  background-color: var(--yellow);
  z-index: -10;
}
.Projects .project_info {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*
  align-items: center;
  justify-content: center;
  display: flex; */
  transition: 0.3s;
}
.Projects .project_info h4,
.Projects .project_info p {
  padding: 13px;
}
.Projects .project_info h4 {
  font-size: 58px;
  font-weight: bold;
  padding: 100px 0 40px 0;
}
.Projects .project_info p {
  font-size: 18px;
}
.Projects .link {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 100%;
  top: 0;
}
/* 이미지에 호버할 때 project_info 표시 */
.Projects .swiper-slide:hover .project_info {
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--blue);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--blue);
}
